<form novalidate
[formGroup]="form">
<h3>Search here</h3>
<a style="color:darkgrey; font-size: 160%">Nomal</a>
<div class="row">
<div class="col">
    <label for="select1">Naruto</label>
    <select ngDefaultControl class="form-control form-control-sm" formControlName="nar">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option selected>10</option>
    </select>
</div>
<div class="col">
    <label for="select1">Sakura</label>
    <select ngDefaultControl class="form-control form-control-sm" formControlName="sak">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option selected>10</option>
    </select>
</div>
<div class="col">
    <label for="select1">Sasuke</label>
    <select ngDefaultControl class="form-control form-control-sm" formControlName="sa1">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option selected>10</option>
    </select>
</div>
<div class="col">
    <label for="select1">Sai</label>
    <select ngDefaultControl class="form-control form-control-sm" formControlName="sai">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option selected>10</option>
    </select>
</div>
<div class="col">
    <label for="select1">Yamato</label>
    <select ngDefaultControl class="form-control form-control-sm" formControlName="yam">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option selected>10</option>
    </select>
</div>
</div>
<div class="row">
    <div class="col">
        <label for="select1">Anbu</label>
        <select ngDefaultControl class="form-control form-control-sm" formControlName="anb">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option selected>10</option>
        </select>
    </div>
    <div class="col">
        <label for="select1">Sasori</label>
        <select ngDefaultControl class="form-control form-control-sm" formControlName="sas">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option selected>10</option>
        </select>
    </div>
    <div class="col">
        <label for="select1">Kabuto</label>
        <select ngDefaultControl class="form-control form-control-sm" formControlName="kab">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option selected>10</option>
        </select>
    </div>
    <div class="col">
        <label for="select1">Karin</label>
        <select ngDefaultControl class="form-control form-control-sm" formControlName="kar">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option selected>10</option>
        </select>
    </div>
    <div class="col">
        <label for="select1">Temari</label>
        <select ngDefaultControl class="form-control form-control-sm" formControlName="ter">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option selected>10</option>
        </select>
    </div>
    </div>
    <a style="color:deepskyblue; font-size: 160%">Magic</a>
    <div class="row">
    <div class="col">
        <label for="select1">Jiraiya</label>
        <select ngDefaultControl class="form-control form-control-sm" formControlName="jir">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option selected>12</option>
        </select>
    </div>
    <div class="col">
        <label for="select1">Tsunade</label>
        <select ngDefaultControl class="form-control form-control-sm" formControlName="tsu">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option selected>10</option>
        </select>
    </div>
    <div class="col">
        <label for="select1">Sasuke</label>
        <select ngDefaultControl class="form-control form-control-sm" formControlName="sa2">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option selected>10</option>
        </select>
    </div>
    <div class="col">
        <label for="select1">Choji</label>
        <select ngDefaultControl class="form-control form-control-sm" formControlName="cho">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option selected>10</option>
        </select>
    </div>
    <div class="col">
        <label for="select1">Orochimaru</label>
        <select ngDefaultControl class="form-control form-control-sm" formControlName="oro">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option selected>10</option>
        </select>
    </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="select1">Zetsu</label>
            <select ngDefaultControl class="form-control form-control-sm" formControlName="zet">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option selected>10</option>
            </select>
        </div>
        <div class="col">
            <label for="select1">Jugo</label>
            <select ngDefaultControl class="form-control form-control-sm" formControlName="jug">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option selected>10</option>
            </select>
        </div>
        <div class="col">
            <label for="select1">Shikamaru</label>
            <select ngDefaultControl class="form-control form-control-sm" formControlName="shi">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option selected>10</option>
            </select>
        </div>
        <div class="col">
            <label for="select1">Kankuro</label>
            <select ngDefaultControl class="form-control form-control-sm" formControlName="kan">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option selected>10</option>
            </select>
        </div>
        <div class="col">
            <label for="select1">Kiba</label>
            <select ngDefaultControl class="form-control form-control-sm" formControlName="kib">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option selected>10</option>
            </select>
        </div>
        </div>

<div class="col-md-12 col-sm-12">
<button class="btn btn-primary btn-lg btn-block" style="margin-top: 1em;"
(click)="search(form.value)">Search</button>
</div>
